<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.chatbox">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatBox">
        <activity
            android:name=".StatusFloraFaunaActivity"
            android:exported="false" />
        <activity
            android:name=".FloraZonesActivity"
            android:exported="false" />
        <activity
            android:name=".FloraandFaunaZonesActivity"
            android:exported="false" />
        <activity
            android:name=".ValleyOfFlowersActivity"
            android:exported="false" />
        <activity
            android:name=".StatusFloraActivity"
            android:exported="false" />
        <activity
            android:name=".FaunaPresentationActivity"
            android:exported="false" />
        <activity
            android:name=".FloraPresentationActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".AcademicsActivity"
            android:exported="false" />
        <activity
            android:name=".CircularActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MiddleActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>